@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "poppins" sans-serif;
    padding: 0px 0px;
    margin: 0px;
    
}

/* debut style navbar */

.container{
    padding: 0px 50px;
    font-family: "poppins";
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-weight: 600;
    height: 99px;
    width: 1440px;
    color: black;
    z-index: 9999;
    position: fixed;
    
}
.navbar .menu .link{
    text-decoration: none;
    color: black;
    font-family: "poppins";
}

.navbar .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    gap: 40px;
    list-style: none;
}
.navbar .menu .link:hover{
    color: chocolate;


}

.navbar .berger{
    display: none;
}

/* fin style navbar */
/* debut style des informations parsonnelles */
.section1{
    padding-top: 105px;
    background-color: #EAF2FF;
    font-size: 25px;
}
 .section1 h2{
    font-size: 50px;
    font-weight: 600;
    color: #FA8800;
    padding-top: 30px;
    padding-bottom: 30px;
 }

.box1{
    height: 16px;
    width: 1440px;
    background-color: #0200AE;
    padding-left: 0px;
    padding-right: 0px;
}

.box2{
    height: 73px;
    width: 676px;
    background-color: #0200AE;
    color: white;
    font-size: 43px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    left: 350px;
}

/* debut style des informations parsonnelles */
#section2{
    padding: 20px;
    margin: 20px;
    
}



legend{
    font-size: 30px;
    font-weight: 500;
    color: black;
}

#section2 input{
    width: 538px;
    height: 64px;
    border-radius: 20px;
    background-color: rgba(f, f, f, 0.6);
}
#section2 label{
    display: inline-block;
    width: 300px;
    padding: 20px 0px 30px 40px;
}

#section2 input[type=radio]{
    width: 30px;
    height: 30px;
    
}
#section2 .sexe{
    padding-left: 45px;
}

#section2 select{
    min-height: 64px;
    width: 538px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    
}

#section2 .com p{
    display: inline-block;
    width: 300px;
    padding: 20px 0px 30px 40px;
}

#section2 input[placeholder]{
    font-size: 20px;
    text-align: center;
}
#section2 input[type=date]{
    font-size: 20px;
    text-align: center;
}

/* debut style section3 */

#section3{
    padding: 20px;
    margin: 30px;
}
 #section3 input[type=checkbox]{
    width: 30px;
    height: 30px;

 }

 #section3 label{
    display: inline-block;
    width: 300px;
    padding: 0px 0px 10px 30px;
 }

 #section3 textarea{
    width: 300px;
    height: 64px;
    border-radius: 20px;
 }

/* fin style section3 */

/* debut sytyle section4 */

#section4{
    padding: 20px;
    margin: 30px;

}

#sect4 textarea{
    width: 1109px;
    height: 118px;
    border-radius: 20px;
    position: relative;
    left: 150px;
    
}

#sect4 textarea[placeholder]{
    font-size: 20px;
    text-align: justify;
}
#sect4 legend{
    padding-bottom: 30px;
}


/* debut sytyle section4 */
 
/* debut style dodument à joindre */

.section1 .doc a{
    height: 60px;
    width: 219px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200px;
    background-color: #EFECEC;
    color: black;
    border-color: black;

}

.section1 .doc .div1{
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
}

.section1 .doc .div2{
    display: flex;
    gap: 60px;
}

.section1 input[type=submit]{
    width: 312px;
    height: 82px;
    background-color: #FA8800;
    color: white;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    float: right;
}

.section1 .bouton input[type=submit]:hover{
    background-color: #0200AE;
    box-shadow: 4px 0px 5px #FA8800;
}

#sestion1{
    padding-bottom: 50px;
}

/* debut style dodument à joindre */


/* debut style du footer */

.foot{
    margin-top: 150px;
    background-color: #020058;
    height: 362;
    width: 1440;
    color: white;
    font-size: 18px
    
}

.pieds{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
   
}

.foot .pieds h5{
    font-weight: 600;
    font-size: 18px;
}

.foot .pieds .Reseaux{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    gap: 10px;
}
.foot .pieds ul li{
    text-decoration: none;

}

.foot .mention{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
    border-top: #EAF2FF;
    border-color: blanchedalmond;
    
}

.foot .mention .liste{
    text-decoration: none;
    list-style: none;
    color: white;

}

/* fin style du footer */

/* debut style media query */

@media screen and (max-width: 426px) {
    
    .container{
        padding: 0px 20px;
      
    }

/* debut de style media query .navbar */
  
.navbar .berger{
    height: 66px;
    width: 66px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar .menu{
    display: none;
}

    
.navbar img{
    height: 110pw;
    width: 162px;
}
.navbar .berger{
    width: 66px;
    height: 66px;
    position: relative;
    right: 0px;
}

/* fin de style media query .navbar */

/* debut de style media query section2 */

.section1{
    padding: opx 20px;
    padding-top: 105px;
    width: 100%;
}

.section1 h2{
    font-size: 30px;
    text-align: center;
}

.section1 .box1{
    width: 100%;
}

.section1 .box2{
    height: 25px;
    width: 70%;
    font-size: 18px;
    left: 60px;
}

#section2{
    padding: 20px;
    margin: 0px;
    width: 90%;
}

legend{
    font-size: 18px;
}

#section2 input{
    width: 82%;
    height: 40px;
}

#section2 label{
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 10px;
}

#section2 select{
    height: 40px;
    width: 82%;
}

#section2 .com p{
    flex-direction: column;
    align-items: center;
    padding: 10x;
}



/* fin de style media query section2 */

/* debut style meda query section3 */

#section3{
    padding: 20px;
    margin: 0px;
}

#section3 label{
    width: 71%;
    padding: 0px 0px 0px 0px;
}

#section3 textarea{
    width: 82%;
    height: 40px;
    border-radius: 15px;
 }


/* fin style meda query section3 */

/* debut style media query section 4 */

#section4{
    padding: 20px;
    margin: 0px;

}

#sect4 textarea{
    width: 82%;
    height: 200px;
    border-radius: 20px;
    position: relative;
    left: 20px;
    
}



/* fin style media query section 4 */

/* debut style media query section5 */

.section1 .doc a{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    
}

.section1 .doc .div1{
    flex-direction: column;
    gap: 20px;
    padding-bottom: 0px;
}

.section1 .doc .div2{
   flex-direction: column;
    gap: 10px;
}

.section1 input[type=submit]{
    width: 207px;
    height: 40px;
    background-color: #FA8800;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    float: right;
}

.section1 .bouton input[type=submit]:hover{
    background-color: #0200AE;
    box-shadow: 4px 0px 5px #FA8800;
}



/* fin style media query section5 */

/* debut media query footer */

.foot .pieds{
    flex-direction: column;
    font-size: 10px;
    align-items: center;
}

.foot .mention{
    font-size: 10px;
}


/* debut media query footer */


}




/* fin style media query */
