@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "poppins" sans-serif;
    padding: 0px 0px;
    margin: 0px;
    
}

/* debut style navbar */

.container{
    padding: 0px 50px;
    font-family: "poppins";
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-weight: 600;
    height: 99px;
    width: 1440px;
    color: black;
    z-index: 9999;
    position: fixed;
    
}
.navbar .menu .link{
    text-decoration: none;
    color: black;
    font-family: "poppins";
}

.navbar .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    gap: 40px;
    list-style: none;
}
.navbar .menu .link:hover{
    color: chocolate;


}

.navbar .berger{
    display: none;
}

/* fin style navbar */
/* debut style des informations parsonnelles */
.section1{
    padding-top: 140px;
}


/* debut style des informations parsonnelles */