@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "poppins" sans-serif;
    padding: 0px 0px;
    margin: 0px;
    
}

/* debut style navbar */

.container{
    padding: 0px 50px;
    font-family: "poppins";
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-weight: 600;
    height: 99px;
    width: 1440px;
    color: black;
    z-index: 9999;
    position: fixed;
    
}
.navbar .menu .link{
    text-decoration: none;
    color: black;
    font-family: "poppins";
}

.navbar .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    gap: 40px;
    list-style: none;
}
.navbar .menu .link:hover{
    color: chocolate;


}

.navbar .berger{
    display: none;
}

/* fin style navbar */

/* debut style de la section 1 */
.section1{
    height: 557;
    background-color: #EAF2FF;
    padding-top: 140px;
    padding-bottom: 50px;
}

.section1 .presentation{
    display: flex;
    gap: 150px;
}

.section1 .presentation h2{
    font-size: 50px;
    font-weight: 600;
    color: #FA8800;
}

.section1 .presentation p{
    font-size: 26px;
    font-weight: 300;
}

/* fin style de la section 1 */

/* debut de style de la section3 */

.section2{
    height: 500px;
    padding-top: 50px;
    
}

.section2 .vision{
    display: flex;
    gap: 100px;
    
}

.section2 .vision h2{
    font-size: 50px;
    font-weight: 600;
    color: #FA8800;
}

.section2 .vision p{
    font-size: 26px;
    font-weight: 300;
}
.section2 .vision img{
    height: 369px;
    width: 632px;
}

/* fin de style de la section3 */

/* debut style de la section 3 */

.section3{
    padding-top: 50px;
    height: 521px;
    background-color: #EAF2FF;
}

.section3 h2{
    font-size: 50px;
    font-weight: 600;
    color: #FA8800;
    text-align: center;
}

.section3 p{
    font-size: 26px;
    font-weight: 300;
}
.section3 .partenaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.section4{
    height: 400px;
    padding-top: 50px;
}
.section4 h2{
    font-size: 50px;
    font-weight: 600;
    color: #FA8800;
    text-align: center;
}

.section4 .stat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.section4 .stat p{
    font-size: 26px;
    font-weight: 300;
}

.section5{
    height: 574px;
    padding-top: 50px;
    background-color: #EAF2FF;
}

.section5 .equipe{
    display: flex;
    gap: 100px;
    align-items: center;
    /* padding-left: 49px; */
}
.section5 .equipe h2{
    font-size: 50px;
    font-weight: 600;
    color: #FA8800;
}

.section5 .equipe p{
    font-size: 26px;
    font-weight: 300;
    padding-bottom: 50px;

}
.section5 .equipe a{
    border-radius: 25px;
    width: 312px;
    height: 82px;
    background-color: #FA8800;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5 .equipe a:hover{
    background-color: #020058;
    box-shadow: 4px 2px 5px #FA8800;


}

.section5 .equipe img{
    width: 598px;
    height: 417px;
}

/* fin style de la section 3 */

/* debut du style faq */
.section6{
    height: 500px;
}
.section6 .faq{
    display: flex;
    align-items: center;
    gap: 100px;
}
.section6 .faq ol li a{
    text-decoration: none;
    font-size: 26px;
    color: black;
    list-style: none;
}

/* .section6 .faq ol li a:hover{ */
    


/* debut du style faq */



/* debut style du footer */

.foot{
    background-color: #020058;
    height: 362;
    width: 1440;
    color: white;
    font-size: 18px
}

.pieds{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
   
}

.foot .pieds h5{
    font-weight: 600;
    font-size: 18px;
}

.foot .pieds .Reseaux{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    gap: 10px;
}
.foot .pieds ul li{
    text-decoration: none;

}

.foot .mention{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
    border-top: #EAF2FF;
    border-color: blanchedalmond;
    
}

.foot .mention .liste{
    text-decoration: none;
    list-style: none;
    color: white;

}

/* fin style du footer */


/* debut de style media query */

@media screen and (max-width: 426px) {

    .container{
        padding: 0px 20px;
   }
   
  /* debut de style media query .navbar */
  
   .navbar .berger{
       height: 66px;
       width: 66px;
   }
   
   .navbar{
       display: flex;
       justify-content: space-between;
   }
   
       
   .navbar img{
       height: 110pw;
       width: 162px;
   }
   .berger{
       width: 66px;
       height: 66px;
   }

/* fin de style media query .navbar */

/* debut media query .section1 */

.section1{
    padding-top: 140px;
    padding-bottom: 30px;
    
}

.section1 .presentation{
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.section1 .presentation h2{
    font-size: 30px;
    text-align: center;
}

.section1 .presentation p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}
 .section1 .presentation img{
    width: 100%;
 }

 /* fin media query .section1 */

 /* debut media query .section2 */

.section2{
    padding-top: 30px;
    height: 750px;
}

.section2 .vision{
    flex-direction: column;
    align-items: center;

}

.section2 .vision h2{
    font-size: 30px;
    text-align: center;
}
.section2 .vision p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}
 .section2 .vision img{
    width: 345px;
    height: 205px;
 }

 /* fin media query .section2 */

 /* debut media query section 3 */

 .section3{
    padding-top: 30px;
    height: 800px;
 }
.section3 h2{
    font-size: 30px;
    text-align: center;
}

.section3 p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.section3 .partenaire{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

 /* debut media query section 3 */

/* debut  media query section4 */

.section4{
    padding-top: 30px;
    height: 500px;
}

.section4 .stat{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section4 h2{
    font-size: 30px;
    text-align: center;
}

.section4 .stat p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.section4 .stat img{
    width: 234px;
    height: 165px;
}


/* debut  media query section4 */


/* debut media query section 5 */

.section5{
    padding-top: 30px;
    height: 800px;
}
.section5 .equipe{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section5 .equipe h2{
    font-size: 30px;
    text-align: center;
}

.section5 .equipe p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.section5 .equipe img{
    height: 229px;
    width: 338px;
}

.section5 .equipe a{
    width: 137px;
    height: 38px;
    border-radius: 30px;
    font-size: 15px;
    position: relative;
    left: 100px;
    
}

/* debut media query section 5 */

/* debut media query .section6 */

.section6{
    height: 700px;
    padding-top: 30px;
    gap: 0px;
    text-align: center;

}

.section6 .faq{
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.section6 .faq img{
    height: 301.62px;
    width: 304.62px;
    gap: 0px;
}

.section6 .faq ol li a{
    font-size: 20px;
    text-align: center;
    padding-left: 20px;
}

/* fin media query .section6 */

/* debut media query footer */

.foot .pieds{
    flex-direction: column;
    font-size: 10px;
    align-items: center;
}

.foot .mention{
    font-size: 10px;
}


/* debut media query footer */


    
}





/* fin de style media query */